/*general menu style*/
ul.menu {background-color: gray}

/*background image for index.html*/
#index {background-image: url(./images/timg.jpg)}

/*job.html style*/
#job h1 {font-size: 28px; font-family: sans-serif;text-align: center;}
#job aside {width: 25%; float: right;margin: 0 170px 0 170px; padding: 0 50px 0 50px}

#job {min-height:100%;margin:0;padding:0;position:relative;}
#job footer{position:absolute;bottom:0;width:100%;height:20px;background-color: grey; text-align: center; font-size: 14px}

/*about.html style*/
#about dt,dd {width: 300px;}
#about dl{clear:left;}
#about dt,dd{float:left;margin: 20px}
#about section {display:inline-block; margin: 10px; padding: 10px;position: relative;float: left; width: 40%; border: 5px solid purple; height: 400px}
#about img {height:300px; width:300px}
#about td {border:2px solid grey;}
#about th {border:2px solid grey;}
#about table .class_time {background-color: #FFBB77}
#about table th {background-color: 	#0072E3}