/*general menu style*/
ul.menu {background-color: gray}

/*background image for index.html*/
#index {background-image: url(./images/timg.jpg)}

/*job.html style*/
#job h1 {font-size: 28px; font-family: sans-serif;text-align: center;}
#job aside {width: 25%; float: right;margin: 0 170px 0 170px; padding: 0 50px 0 50px}

#job {min-height:100%;margin:0;padding:0;position:relative;}
#job footer{position:absolute;bottom:0;width:100%;height:20px;background-color: grey; text-align: center; font-size: 14px}

/*about.html style*/
#about dt,dd {width: 300px;}
#about dl{clear:left;}
#about dt,dd{float:left;margin: 20px}
#about section {display:inline-block; margin: 10px; padding: 10px;position: relative;float: left; width: 40%; border: 5px solid purple; height: 400px}
#about img {height:300px; width:300px}
#about td {border:2px solid grey;}
#about th {border:2px solid grey;}
#about table .class_time {background-color: #FFBB77}
#about table th {background-color: 	#0072E3}

/*enhancement*/
div
{
width:20px;
height:20px;
background:red;
position:relative;
animation-name:myfirst;
animation-duration:5s;
animation-timing-function:linear;
animation-delay:2s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
/* Firefox: */
-moz-animation-name:myfirst;
-moz-animation-duration:5s;
-moz-animation-timing-function:linear;
-moz-animation-delay:2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:alternate;
-moz-animation-play-state:running;
/* Safari and Chrome: */
-webkit-animation-name:myfirst;
-webkit-animation-duration:5s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
/* Opera: */
-o-animation-name:myfirst;
-o-animation-duration:5s;
-o-animation-timing-function:linear;
-o-animation-delay:2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:alternate;
-o-animation-play-state:running;
}

@keyframes myfirst
{
0%   {background:red; left:840px; top:70px;}
25%  {background:yellow; left:1180px; top:70px;}
50%  {background:blue; left:1180px; top:400px;}
75%  {background:green; left:840px; top:400px;}
100% {background:red; left:840px; top:60px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background:red; left:0px; top:0px;}
25%  {background:yellow; left:200px; top:0px;}
50%  {background:blue; left:200px; top:200px;}
75%  {background:green; left:0px; top:200px;}
100% {background:red; left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:red; left:1200px; top:0px;}
25%  {background:yellow; left:1800px; top:0px;}
50%  {background:blue; left:1800px; top:500px;}
75%  {background:green; left:1200px; top:500px;}
100% {background:red; left:1200px; top:0px;}
}
